html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border-style: none; }

* {
  box-sizing: border-box; }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 12px; }

.container {
  width: 100%;
  padding: 0 15px 0 15px;
  max-width: 1170px;
  margin: 0 auto; }

section {
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 100px; }

footer {
  max-width: 1800px;
  margin: 0 auto;
  padding: 100px 0; }

html {
  font-size: 17px; }

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #222626; }

a {
  text-decoration: none;
  color: #ffffff; }

h1 {
  font-size: 3.5294117647rem;
  font-weight: 300;
  color: #ffffff; }

h2 {
  font-size: 2.0588235294rem;
  font-weight: 300;
  color: #222626; }

h3 {
  font-size: 1.2941176471rem;
  font-weight: 300;
  color: #ffffff; }

p {
  font-size: 0.8235294118rem;
  line-height: 1.412rem;
  font-weight: 400;
  color: #959595; }

textarea:focus, input:focus {
  outline: none; }

/* Header */
.hero {
  position: relative;
  height: 800px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.hero__logo {
  height: 45px;
  width: 95px;
  margin-top: 5%; }

.hero__content {
  width: 100%;
  max-width: 500px;
  padding-top: 25%; }

.hero__content--title, .secondHero__content--title {
  padding-bottom: 5%; }

.hero__content--text, .secondHero__content--text {
  color: #ffffff; }

.hero__phone {
  position: absolute;
  bottom: -25%;
  left: 50%;
  height: 650px;
  width: 600px; }

/* About */
.aboutTab__title {
  padding-left: 12px; }

.aboutTab__text {
  padding-top: 5%; }

.aboutTabRigth {
  padding-top: 13%; }

/* Gallery */
#gallery {
  width: 100%;
  max-width: 1800px; }

.photo {
  height: 230px;
  cursor: pointer; }
  .photo__1 {
    background-color: #f5989d;
    transition: background-color 0.5s; }
    .photo__1:hover {
      background-color: #f38187; }
  .photo__2 {
    background-color: #615f7d;
    transition: background-color 0.5s; }
    .photo__2:hover {
      background-color: #56546f; }
  .photo__3 {
    background-image: url("../images/photo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s; }
    .photo__3:hover {
      opacity: 0.9; }
  .photo__4 {
    background-color: #bd8cbf;
    transition: background-color 0.5s; }
    .photo__4:hover {
      background-color: #b47cb6; }
  .photo__5 {
    background-image: url("../images/photo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s; }
    .photo__5:hover {
      opacity: 0.9; }
    .photo__5 .layer {
      padding-top: 2.5%;
      padding-left: 2.5%; }
      .photo__5 .layer .fa {
        right: 5%;
        bottom: 0.5%; }
      .photo__5 .layer .photo__layer--text {
        padding-top: 2.5%; }
  .photo__6 {
    background-color: #82ca9c;
    transition: background-color 0.5s; }
    .photo__6:hover {
      background-color: #70c28e; }
  .photo__7 {
    background-image: url("../images/photo3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s; }
    .photo__7:hover {
      opacity: 0.9; }

.layer {
  position: relative;
  padding-top: 5%;
  padding-left: 5%; }

.photo__layer--link, .secondHero__content--link {
  display: inline-block;
  font-weight: 700;
  font-size: 0.8235294118rem;
  transition: font-size 1s;
  cursor: pointer; }
  .photo__layer--link:hover, .secondHero__content--link:hover {
    font-size: 0.8823529412rem; }

.photo__layer--text {
  padding-top: 5%;
  padding-bottom: 8%;
  font-weight: 300;
  color: #ffffff; }

.layer .fa {
  position: absolute;
  right: 10%;
  color: #ffffff; }

.fa-heart {
  opacity: 0;
  transition: opacity 0.5s; }
  .fa-heart:hover {
    opacity: 1; }

/* Details */
.detailsTab, .onboardTab {
  padding-top: 5%; }

.details__title, .onboard__title {
  padding-left: 10px; }

.detailsTab__title, .onboardTab__title {
  font-size: 0.8823529412rem; }

.detailsTab__text, .onboardTab__text {
  padding-top: 7%; }

/*More Power */
.secondHero {
  position: relative;
  height: 800px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  background-image: url("../images/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.secondHero__content {
  position: absolute;
  bottom: 10%;
  max-width: 550px; }

.secondHero__content--text {
  padding-bottom: 5%; }

/*Onboard */
#onboard {
  margin-top: 0;
  background-color: #82ca9c; }

.onboard {
  padding-bottom: 100px; }

.onboard__title, .onboardTab__title, .onboardTab__text {
  color: #ffffff; }

/*Product */
#product {
  background-color: #f2f2f2;
  padding-bottom: 100px; }

.product {
  max-width: 1000px;
  margin: 0 auto; }

.productTab {
  cursor: pointer;
  padding: 3%; }
  .productTab:hover {
    background-color: #ffffff; }
    .productTab:hover .btn-info {
      background-color: #bd8cbf; }

.btn-info {
  padding: 1% 3%;
  border-radius: 5px;
  background-color: #e1e1e1;
  font-size: 0.6470588235rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer; }

.btn-primary {
  padding: 4% 5.5%;
  border-radius: 3px;
  background-color: #82ca9c;
  font-size: 0.6470588235rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s; }
  .btn-primary:hover {
    background-color: #4cb371; }

.productTab__title {
  padding: 5% 0; }

.productTab__text {
  padding-bottom: 5%; }

.productTab__icon {
  padding-top: 5%;
  color: #c5c5c5; }
  .productTab__icon .fa-apple {
    margin-right: 1%;
    transition: 1s color; }
    .productTab__icon .fa-apple:hover {
      color: #222626; }
  .productTab__icon .fa-windows {
    transition: 1s color; }
    .productTab__icon .fa-windows:hover {
      color: #222626; }

/* Footer */
#footer {
  background-color: #192431;
  font-size: 0.8823529412rem;
  color: #ffffff; }

.footer__title {
  font-weight: 300; }

.footer__text {
  padding-top: 5%;
  font-weight: 300;
  color: #ffffff; }

.footer__list--content {
  padding: 10% 0 0 0; }

.footer__list {
  padding-top: 10%; }

.footer__list--item {
  padding-top: 5%;
  font-weight: 300;
  transition: font-size 0.5s; }
  .footer__list--item:hover {
    font-size: 0.9117647059rem; }

.footer__contact {
  padding-left: 10%; }

.footer__form {
  position: relative;
  padding-top: 5%; }

.footer__form--input {
  width: 100%;
  height: 51px;
  padding-left: 2%;
  font-size: 0.8823529412rem; }

.fa-check {
  position: absolute;
  bottom: 0;
  right: -1px;
  padding: 18px;
  background-color: #82ca9c; }

.footer__contact--text {
  margin-top: 2%;
  font-size: 0.6470588235rem; }

/* Grid */
.col-lg-1 {
  width: 8.33%; }

.col-lg-2 {
  width: 16.66%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33%; }

.col-lg-5 {
  width: 41.66%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33%; }

.col-lg-8 {
  width: 66.66%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33%; }

.col-lg-11 {
  width: 91.66%; }

.col-lg-12 {
  width: 100%; }

@media (max-width: 550px) {
  .col-sm-1 {
    width: 8.33%; }

  .col-sm-2 {
    width: 16.66%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33%; }

  .col-sm-5 {
    width: 41.66%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33%; }

  .col-sm-8 {
    width: 66.66%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33%; }

  .col-sm-11 {
    width: 91.66%; }

  .col-sm-12 {
    width: 100%; }

  .hero__content {
    padding-top: 50%; }

  .hero, .secondHero {
    height: 500px; }

  .secondHero {
    background-position: bottom;
    background-size: auto; }

  .photo__5 .layer .photo__layer--text {
    padding-top: 5%; }

  .productTab {
    margin-top: 5%; }

  .footer__list--content {
    padding: 15% 0 0 0;
    text-align: center; }

  .footer__title {
    font-weight: 700; }

  .footer__list {
    padding-top: 4%; }

  .footer__contact {
    display: none; }

  .hero__content--title, .secondHero__content--title {
    font-size: 2.5rem; }

  .aboutTab__title, .details__title, .onboard__title, .onboard__title {
    margin-bottom: 4%; }

  html {
    font-size: 16px; } }
@media (min-width: 550px) and (max-width: 850px) {
  .col-md-1 {
    width: 8.33%; }

  .col-md-2 {
    width: 16.66%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33%; }

  .col-md-5 {
    width: 41.66%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33%; }

  .col-md-8 {
    width: 66.66%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33%; }

  .col-md-11 {
    width: 91.66%; }

  .col-md-12 {
    width: 100%; }

  .hero, .secondHero {
    height: 500px; }

  .footer__list--content {
    text-align: center; }

  .footer__contact {
    padding: 10% 0 0 0;
    margin-left: 16.66%; } }
@media (max-width: 1050px) {
  .aboutTabRigth {
    padding-top: 12px; }

  .hero__phone {
    display: none; } }
@media (min-width: 1051px) and (max-width: 1250px) {
  .hero__phone {
    left: 42%; } }
