html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 12px; }

.container {
  width: 100%;
  padding: 0 15px 0 15px;
  max-width: 1170px;
  margin: 0 auto; }

section {
  margin-top: 50px; }

html {
  font-size: 17px; }

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #222626; }

a {
  text-decoration: none;
  color: #ffffff; }

h1 {
  font-size: 3.5294117647rem;
  font-weight: 300;
  color: #ffffff; }

h2 {
  font-size: 2.0588235294rem;
  font-weight: 300;
  color: #222626; }

h3 {
  font-size: 1.2941176471rem;
  font-weight: 300;
  color: #ffffff; }

p {
  font-size: 0.8235294118rem;
  line-height: 1.412rem;
  font-weight: 400;
  color: #959595; }

/* Header */
.hero {
  position: relative;
  height: 800px;
  width: 100%;
  max-width: 1800px;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.hero__logo {
  height: 45px;
  width: 95px;
  margin-top: 5%; }

.hero__content {
  width: 100%;
  max-width: 500px;
  padding-top: 25%; }

.hero__content--title {
  padding-bottom: 5%; }

.hero__content--text {
  color: #ffffff; }

.hero__phone {
  position: absolute;
  bottom: -25%;
  left: 50%;
  height: 650px;
  width: 600px; }

/* About */
.aboutTab__text {
  padding-top: 5%; }

.aboutTabRigth {
  padding-top: 13%; }

/* Gallery */
#gallery {
  width: 100%;
  max-width: 1800px; }

.photo {
  height: 230px;
  cursor: pointer; }
  .photo__1 {
    background-color: #f5989d;
    transition: background-color 0.5s; }
    .photo__1:hover {
      background-color: #f38187; }
  .photo__2 {
    background-color: #615f7d;
    transition: background-color 0.5s; }
    .photo__2:hover {
      background-color: #56546f; }
  .photo__3 {
    background-image: url("../images/photo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s; }
    .photo__3:hover {
      opacity: 0.9; }
  .photo__4 {
    background-color: #bd8cbf;
    transition: background-color 0.5s; }
    .photo__4:hover {
      background-color: #b47cb6; }
  .photo__5 {
    background-image: url("../images/photo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s; }
    .photo__5:hover {
      opacity: 0.9; }
    .photo__5 .layer {
      padding-top: 2.5%;
      padding-left: 2.5%; }
      .photo__5 .layer .photo__layer--text {
        padding-top: 2.5%;
        padding-bottom: 5%; }
    .photo__5 .fa {
      right: 5%;
      bottom: 0.5%; }
  .photo__6 {
    background-color: #82ca9c;
    transition: background-color 0.5s; }
    .photo__6:hover {
      background-color: #70c28e; }
  .photo__7 {
    background-image: url("../images/photo3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.5s; }
    .photo__7:hover {
      opacity: 0.9; }

.layer {
  position: relative;
  padding-top: 5%;
  padding-left: 5%; }

.photo__layer--link {
  display: inline-block;
  font-weight: 300;
  transition: font-size 1s;
  cursor: pointer; }
  .photo__layer--link:hover {
    font-size: 1.0588235294rem; }

.photo__layer--text {
  padding-top: 5%;
  padding-bottom: 8%;
  font-weight: 300;
  color: #ffffff; }

.fa {
  position: absolute;
  right: 10%;
  color: #ffffff; }

.fa-heart {
  opacity: 0;
  transition: opacity 0.5s; }
  .fa-heart:hover {
    opacity: 1; }

/* Details */
.detailsTab {
  padding-top: 5%; }

.details__title {
  padding-left: 12px; }

.detailsTab__title {
  font-size: 0.8823529412rem; }

.detailsTab__text {
  padding-top: 7%; }

/* Grid */
.col-lg-1 {
  width: 8.33%; }

.col-lg-2 {
  width: 16.66%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33%; }

.col-lg-5 {
  width: 41.66%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33%; }

.col-lg-8 {
  width: 66.66%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33%; }

.col-lg-11 {
  width: 91.66%; }

.col-lg-12 {
  width: 100%; }
