/* Header */
.hero
  position: relative
  height: 800px
  width: 100%
  max-width: 1800px
  margin: 0 auto
  background-image: url("../images/hero.jpg")
  @include background-properties

.hero__logo
  height: 45px
  width: 95px
  margin-top: 5%

.hero__content
  width: 100%
  max-width: 500px
  padding-top: 25%

.hero__content--title
  padding-bottom: 5%

.hero__content--text
  color: $font-white-color

.hero__phone
  position: absolute
  bottom: -25%
  left: 50%
  height: 650px
  width: 600px

/* About */

.aboutTab__title
  padding-left: 12px

.aboutTab__text
  padding-top: 5%

.aboutTabRigth
  padding-top: 13%

/* Gallery */
#gallery
  width: 100%
  max-width: 1800px

.photo
  height: 230px
  cursor: pointer
  &__1
    background-color: $background-pink-color
    transition: background-color 0.5s
    &:hover
      background-color: darken($background-pink-color, 5%)
  &__2
    background-color: $background-darkPurple-color
    transition: background-color 0.5s
    &:hover
      background-color: darken($background-darkPurple-color, 5%)
  &__3
    background-image: url("../images/photo1.jpg")
    @include background-properties
    transition: opacity 0.5s
    &:hover
      opacity: 0.9
  &__4
    background-color: $background-purple-color
    transition: background-color 0.5s
    &:hover
      background-color: darken($background-purple-color, 5%)
  &__5
    background-image: url("../images/photo2.jpg")
    @include background-properties
    transition: opacity 0.5s
    &:hover
      opacity: 0.9
    .layer
      padding-top: 2.5%
      padding-left: 2.5%
      .fa
        right: 5%
        bottom: 0.5%
      .photo__layer--text
        padding-top: 2.5%
  &__6
    background-color: $background-green-color
    transition: background-color 0.5s
    &:hover
      background-color: darken($background-green-color, 5%)
  &__7
    background-image: url("../images/photo3.jpg")
    @include background-properties
    transition: opacity 0.5s
    &:hover
      opacity: 0.9

.layer
  position: relative
  padding-top: 5%
  padding-left: 5%

.photo__layer--link
  display: inline-block
  font-weight: 700
  @include font-size(14px)
  transition: font-size 1s
  cursor: pointer
  &:hover
    @include font-size(15px)

.photo__layer--text
  padding-top: 5%
  padding-bottom: 8%
  font-weight: 300
  color: #ffffff

.layer
  .fa
    position: absolute
    right: 10%
    color: $font-white-color

.fa-heart
  opacity: 0
  transition: opacity 0.5s
  &:hover
    opacity: 1


/* Details */
.detailsTab
  padding-top: 5%
.details__title
  padding-left: 10px
.detailsTab__title
  @include font-size(15px)
.detailsTab__text
  padding-top: 7%

/*More Power*/
.secondHero
  position: relative
  height: 800px
  width: 100%
  max-width: 1800px
  margin: 0 auto
  background-image: url("../images/car.jpg")
  @include background-properties

.secondHero__content
  position: absolute
  bottom: 10%
  width: 100%
  max-width: 550px

.secondHero__content--title
  @extend .hero__content--title

.secondHero__content--text
  padding-bottom: 5%
  @extend .hero__content--text

.secondHero__content--link
  @extend .photo__layer--link

/*Onboard*/
#onboard
  margin-top: 0
  background-color: $background-green-color

.onboard
  padding-bottom: 100px

.onboard__title, .onboardTab__title, .onboardTab__text
  color: $font-white-color

.onboardTab
  @extend .detailsTab

.onboard__title
  @extend .details__title

.onboardTab__title
  @extend .detailsTab__title

.onboardTab__text
  @extend .detailsTab__text

/*Product*/
#product
  background-color: darken($background-white-color, 5%)
  padding-bottom: 100px
.product
  max-width: 1000px
  margin: 0 auto

.productTab
  cursor: pointer
  padding: 3%
  &:hover
    background-color: $background-white-color
    .btn-info
      background-color: $background-purple-color


.btn-info
  padding: 1% 3%
  border-radius: 5px
  background-color: $background-grey-color
  @include font-size(11px)
  font-weight: 700
  text-transform: uppercase
  color: $font-white-color
  cursor: pointer

.btn-primary
  padding: 4% 5.5%
  border-radius: 3px
  background-color: $background-green-color
  @include font-size(11px)
  font-weight: 700
  text-transform: uppercase
  color: $font-white-color
  cursor: pointer
  transition: background-color 0.5s
  &:hover
    background-color: darken($background-green-color, 15%)

.productTab__title
  padding: 5% 0

.productTab__text
  padding-bottom: 5%

.productTab__icon
  padding-top: 5%
  color: $font-darkenGrey-color
  .fa-apple
    margin-right: 1%
    transition: 1s color
    &:hover
      color: $font-black-color
  .fa-windows
    transition: 1s color
    &:hover
      color: $font-black-color

/* Footer */
#footer
  background-color: $background-darkBlue-color
  @include font-size(15px)
  color: $font-white-color

.footer__title
  font-weight: 300

.footer__text
  padding-top: 5%
  font-weight: 300
  color: $font-white-color

.footer__list--content
  padding: 10% 0 0 0

.footer__list
  padding-top: 10%

.footer__list--item
  padding-top: 5%
  font-weight: 300
  transition: font-size 0.5s
  &:hover
    @include font-size(15.5px)

.footer__contact
  padding-left: 10%

.footer__form
  position: relative
  padding-top: 5%

.footer__form--input
  width: 100%
  height: 51px
  padding-left: 2%
  @include font-size(15px)

.fa-check
  position: absolute
  bottom: 0
  right: -1px
  padding: 18px
  background-color: $background-green-color

.footer__contact--text
  margin-top: 2%
  @include font-size(11px)

/* Grid */

.col-lg-1
  width: 8.33%
.col-lg-2
  width: 16.66%
.col-lg-3
  width: 25%
.col-lg-4
  width: 33.33%
.col-lg-5
  width: 41.66%
.col-lg-6
  width: 50%
.col-lg-7
  width: 58.33%
.col-lg-8
  width: 66.66%
.col-lg-9
  width: 75%
.col-lg-10
  width: 83.33%
.col-lg-11
  width: 91.66%
.col-lg-12
  width: 100%

@media (max-width: 850px)

  .col-sm-1
    width: 8.33%
  .col-sm-2
    width: 16.66%
  .col-sm-3
    width: 25%
  .col-sm-4
    width: 33.33%
  .col-sm-5
    width: 41.66%
  .col-sm-6
    width: 50%
  .col-sm-7
    width: 58.33%
  .col-sm-8
    width: 66.66%
  .col-sm-9
    width: 75%
  .col-sm-10
    width: 83.33%
  .col-sm-11
    width: 91.66%
  .col-sm-12
    width: 100%

  .hero, .secondHero
    height: 500px

  .footer__list--content
    text-align: center

  .footer__contact
    padding: 10% 0 0 0
    margin-left: 16.66%

@media (max-width: 1050px)
  .aboutTabRigth
    padding-top: 12px
  .hero__phone
    display: none

@media (min-width: 1051px) and (max-width: 1250px)
  .hero__phone
    left: 42%
